.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    margin: 0;
    gap: 15px;
    min-width: 250px;
    max-width: 500px;
    margin: 0 15px;
    height: fit-content;        
    padding: 10px;
    background: #fff;
    border-radius: 10px;                
    z-index: 9999;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    z-index: 9998;
    background-color: rgba(0,0,0,.2);    
    backdrop-filter: blur(4px);
}

.textContainer {
    word-break: break-all; 
    background-color: #fff; 
}

.btn {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(255, 111, 181);
    cursor: pointer;
    color: #fff;
    transition: filter .2s;
    -webkit-tap-highlight-color: transparent;
}


.btn:hover { filter: drop-shadow(0 0 1px rgb(255, 116, 183)); }

.btn:active { filter: brightness(.95); }